{% extends "base.html" %}
{% block titulo %}Productos{% endblock %}
{% block contenido %}
    <h1>Catálogo de productos</h1>
    <a href="{{ url_for('productos.agregar') }}" class="btn">Agregar producto</a>
    <table>
        <thead>
            <tr><th>ID</th><th>Nombre</th><th>Precio</th></tr>
        </thead>
        <tbody>
            {% for p in productos %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>S/ {{ "%.2f"|format(p.precio) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
